* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* background  */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* text2 */

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* dividers  */

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 12px;
}

.container {
  background-color: #fff;
  border-radius: 1rem;
  max-width: 900px;
  display: flex;
  padding: 3rem;
  overflow: hidden;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.card__img {
  
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__img img {
  width: 100%;
  position: absolute;
  left: -30%;
  height: auto;
}


/* card__text section */

.card__text {
  flex: 1;
  color: var(--Dark-grayish-blue);
}

h1 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--Very-dark-grayish-blue);
}

